//
//  Base.xcconfig
//  di.fm
//

SUPPORTED_PLATFORMS=macosx iphoneos iphonesimulator appletvos appletvsimulator watchos watchsimulator
VALID_ARCHS=arm64 armv4t armv5 armv6 armv6m armv7 armv7em armv7f armv7k armv7m armv7s xscale i386 x86_64 x86_64h
VALID_ARCHS[sdk=macosx*]=x86_64 x86_64h

EXCLUDED_SOURCE_FILE_NAMES[sdk=iphoneos*]=$(IOS_FILES)
EXCLUDED_SOURCE_FILE_NAMES[sdk=iphonesimulator*]=$(IOS_SIMULATOR_FILES)

EXCLUDED_SOURCE_FILE_NAMES[sdk=watchos*]=$(IOS_FILES)
EXCLUDED_SOURCE_FILE_NAMES[sdk=watchsimulator*]=$(IOS_SIMULATOR_FILES)

EXCLUDED_SOURCE_FILE_NAMES[sdk=appletvos*]=$(IOS_FILES)
EXCLUDED_SOURCE_FILE_NAMES[sdk=appletvsimulator*]=$(IOS_SIMULATOR_FILES)

TARGETED_DEVICE_FAMILY=1,2,3,4,5

OTHER_LDFLAGS_COMMON=
OTHER_LDFLAGS_IOS_COMMON=
OTHER_LDFLAGS_IOS_ONLY=
OTHER_LDFLAGS_WATCHOS_ONLY=
OTHER_LDFLAGS_TVOS_ONLY=
OTHER_LDFLAGS_MACOS_ONLY=

OTHER_LDFLAGS[sdk=iphoneos*]=$(inherited) $(OTHER_LDFLAGS_COMMON) $(OTHER_LDFLAGS_IOS_COMMON) $(OTHER_LDFLAGS_IOS_ONLY)
OTHER_LDFLAGS[sdk=iphonesimulator*]=$(inherited) $(OTHER_LDFLAGS_COMMON) $(OTHER_LDFLAGS_IOS_COMMON) $(OTHER_LDFLAGS_IOS_ONLY)

OTHER_LDFLAGS[sdk=watchos*]=$(inherited) $(OTHER_LDFLAGS_COMMON) $(OTHER_LDFLAGS_IOS_COMMON) $(OTHER_LDFLAGS_WATCHOS_ONLY)
OTHER_LDFLAGS[sdk=watchsimulator*]=$(inherited) $(OTHER_LDFLAGS_COMMON) $(OTHER_LDFLAGS_IOS_COMMON) $(OTHER_LDFLAGS_WATCHOS_ONLY)

OTHER_LDFLAGS[sdk=appletvos*]=$(inherited) $(OTHER_LDFLAGS_COMMON) $(OTHER_LDFLAGS_IOS_COMMON) $(OTHER_LDFLAGS_TVOS_ONLY)
OTHER_LDFLAGS[sdk=appletvsimulator*]=$(inherited) $(OTHER_LDFLAGS_COMMON) $(OTHER_LDFLAGS_IOS_COMMON) $(OTHER_LDFLAGS_TVOS_ONLY)

OTHER_LDFLAGS[sdk=macosx*]=$(inherited) $(OTHER_LDFLAGS_COMMON) $(OTHER_LDFLAGS_MACOS_ONLY)
